/* GLOBAL */
@font-face {
  font-family: "pizza";
  src: url("fonts/OrderPizza.ttf");
}
body {
  text-align: center;
}
body.open::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 98;
    opacity: 0.5;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* HEADER */

.header {
  margin-top: 50px;
  font-family: "pizza";
  text-align: center;
  font-size: 70px;
}

.options {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.options > .btn {
  width: 150px;
}

/* GRID */
/* this is used to create the grid */
#map {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  max-width: 650px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}
#map > div {
  width: 70px;
  height: 70px;
  background-color: #bbb;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GAME GRID ELEMENTS */

.obstacle {
  width: 90%;
  height: 90%;
  background-image: url("img/gas_cooker_obstacle.png");
  background-size: cover;
}

.weapon, .healthPack {
  background-color: black;
  width: 100%;
  height: 100%;
}

.player1, .player2 {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.player1>img {
  background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.player2>img {
  background-color: black;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.highlight {
  background-color: red !important;
  cursor: pointer;
}

/* PLAYER PANELS */

.playerName {
  font-family: "pizza";
  margin-top: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.activePlayer {
  background-color: #66ff99 !important;
}

.player-panel {
  background-color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 10px;
}

.player-panel > div {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  max-height: 25%;
}

.attack>p, .defend>p {
  margin: auto;
  font-size: 20px;

}

.attack, .defend, .healthbar {
  border: solid black 1px;
  padding: 5px;
  margin: 5px;
  max-width: 200px;
}

  /* healthbar */

progress {
  height: 20px;
  background-color: orange;
  color: blue;
  width: 100%;
}
progress::-webkit-progress-value {
  background: yellow;
}
progress::-webkit-progress-bar {
  background: red;
}

  .healthbar {
    margin-top: 20px;
  }

  /* card */
.card-img-top {
  height: 150px;
  width: 100px;
  max-width: 100px;
  object-fit: cover;
}
.card {
  text-align: center;
}
.card-body > div {
  width: 100%;
}
.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.btn,
#endTurn {
  width: 80%;
  height: 40px;
}

/* MODALS */
  /* rules */

  #rulesModal {
      position: fixed;
      left: 50%;
      top: 30%;
      background-color: white;
      padding: 50px;
      width: 600px;
      margin-left: -250;
      margin-top: -141;
      z-index: 99;
  }

  #rulesModal>h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }

  #rulesModal>h3, #rulesModal>h2 {
    font-weight: bold;
  }

  #rulesModal>h3, p {
    text-align: center;
  }

  #closeRules {
    float:right;
  }

  #gameRules {
    display: inline-block;
  }

  /* shield */

  #shieldModal {
    position: fixed;
    z-index: 1;
    top: 44%;
    left: 25%;
    width: 50%;
    text-align: center;
  }
  #shieldModal::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.8;
  }

  #shieldStyle {
    position: relative;
    display: inline-block;
    padding: 5px 15px 20px 15px;
    border-radius: 10px;
    background-color: #febb00;
    font-size: 18px;
    box-shadow: 7px 7px 3px -5px rgba(0, 0, 0, 0.5);
    margin: auto;
  }

  #shieldStyle span {
    background-color: #fff;
    width: 40%;
    display: inline-block;
    margin: 0 5px;
    border-radius: 16px;
    font-size: 14px;
    cursor: pointer;
  }

  /* battle response */

  #battleResponseModal, #gameOverModal, #battleStartModal {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: white;
    padding: 50px;
    width: 500px;
    margin-left: -250;
    margin-top: -141;
    z-index: 99;
  }

  #battleResponseModal > p {
    text-align: center;
  }

  /* game over */

  #gameOverModal>p {
    font-size: 30px;
    text-align:center;
    border: solid black;
    padding: 20px;
  }
