body {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 100px auto;
}

.player-panel {
  background-color: #000;
  width: 200px;
}

#map {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-bottom: 20px;
  max-width: 650px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin: 0 20px;
}
#map > div {
  width: 70px;
  height: 70px;
  background-color: #bbb;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.obstacle {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
