@font-face {
  font-family: 'hello';
  src: url("styles/fonts/SSF4_ABUKET.ttf");
}

h1 {
  font-family: 'hello';
}

body {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.player-panel {
  background-color: white;
  width: 200px;
  display: flex;
  flex-direction: column;

}

progress {
  height: 20px;
  background-color: orange;
  color: blue;
}

progress {
  color: lightblue;
}

progress::-webkit-progress-value {
  background: lightblue;
}

progress::-moz-progress-bar {
  background: lightcolor;
}

progress::-webkit-progress-value {
  background: yellow;
}

progress::-webkit-progress-bar {
  background: red;
}

.player-panel > div {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  max-height: 25%;
}

#map {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-bottom: 20px;
  max-width: 650px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  margin: 0 20px;
}
#map > div {
  width: 70px;
  height: 70px;
  background-color: #bbb;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.obstacle {
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.card-img-top {
  max-height: 150px;
  object-fit: cover;
}

progress {
  width: 100%;
}
.card {
  text-align: center;
}

.far, .fas {
  font-size: 100px;
  display: block;
  padding: 30px;

}
